<a href="https://colab.research.google.com/github/idrissdeme/Aulas-Python-IRD/blob/main/Projeto_Samuel_IRD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando o Pandas

In [ ]:
import pandas as pd

**Predefinindo os formatos de exibição**

In [ ]:
pd.options.display.float_format = '{:20,.2f}'.format

Para saber mais sobre essa mudança de formato, [consulte a documentação](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

# Carregando os dados em uma tabela (DataFrame)

Montando o drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Cópia de modelo indices SRS.xlsx')
#print(df)
#display(df)
df

,Índices de qualidade para SRS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Paciente: Dayane,NaN,NaN,NaN,NaN,NaN
1,Protuário: 586172,NaN,NaN,NaN,NaN,NaN
2,Medico(a): Sarah,NaN,NaN,NaN,NaN,NaN
3,Fisico: Samuel,NaN,NaN,NaN,NaN,NaN
4,Alvo,PTV,Tolerancia,NaN,Precrição,NaN
5,Vrx (vol da dose de presc) =,11.51,NaN,NaN,PTV,5 x 6Gy
6,Vptv (vol do PTV) =,10.55,NaN,NaN,NaN,NaN
7,RTOG CI =,1.09,"(1 - 2; ~1,4 mult alvos)",NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,SRS,NaN
9,V50%rx (vol da isod de 50%) =,39.38,NaN,NaN,Critério,2% / 2mm - 95%
10,V100%rx (vol da isod de 100%)=,11.51,NaN,NaN,Arco,% de aprovação
11,Paddick GI =,3.42,(3 - 5),NaN,1.00,NaN
12,NaN,NaN,NaN,NaN,2.00,NaN
13,Dmax (dose máxima) =,"3,290.00",NaN,NaN,3.00,NaN
14,Drx (dose de prescrição) =,"3,000.00",NaN,NaN,NaN,NaN
15,RTOG HI =,1.10,"1 - 2 ; 1,44",NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,Vol isod de 50%,39.38,NaN,NaN,NaN,NaN
18,Vol PTV,10.55,NaN,NaN,NaN,NaN
19,C50 (cobert da dose interm) =,3.73,"(3 - 7,5)",NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN
21,Dose max,"3,290.00",NaN,NaN,NaN,NaN
22,Dose mín,"2,846.50",NaN,NaN,NaN,NaN
23,HI' =,1.16,"(<=2; 1,30 - 1,10)",NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,OAR`s,Valor atual,Limite,NaN,NaN,NaN
26,Cerebro,19cc,V24 < 20cc,NaN,NaN,NaN

# Examinando os dados

Vamos dar uma olhada mais detalhada nos dados que temos usando alguns métodos e atributos de um DataFrame Pandas:

- `df.head()`: Mostra as cinco primeiras linhas do dataframe por padrão, mas você pode especificar a quantidade que preferir entre parênteses. Ex: `df.head(10)`

In [ ]:
df.head()

,Índices de qualidade para SRS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Paciente: Dayane,NaN,NaN,NaN,NaN,NaN
1,Protuário: 586172,NaN,NaN,NaN,NaN,NaN
2,Medico(a): Sarah,NaN,NaN,NaN,NaN,NaN
3,Fisico: Samuel,NaN,NaN,NaN,NaN,NaN
4,Alvo,PTV,Tolerancia,NaN,Precrição,NaN

- `df.tail()`: Mostra as últimas cinco linhas do DataFrame, mas você pode especificar a quantidade que preferir entre parênteses. Ex. `df.tail(10)`

In [ ]:
df.tail()

,Índices de qualidade para SRS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
22,Dose mín,"2,846.50",NaN,NaN,NaN,NaN
23,HI' =,1.16,"(<=2; 1,30 - 1,10)",NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,OAR`s,Valor atual,Limite,NaN,NaN,NaN
26,Cerebro,19cc,V24 < 20cc,NaN,NaN,NaN

- `df.describe()`: Apresenta um resumo estatístico apenas das colunas que contém conteudo numérico.

In [ ]:
#df.describe()

- `df.sample()`: Mostra uma linha aleatória do DataFrame, mas você pode especificar quantas linhas aleatórias deseja visualizar. Ex: `df.sample(5)`

In [ ]:
df.sample()

,Índices de qualidade para SRS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
19,C50 (cobert da dose interm) =,3.73,"(3 - 7,5)",NaN,NaN,NaN

- `df.shape`: Informa quantas colunas e linhas o DataFrame tem.

In [ ]:
df.shape

(27, 6)

- `df.dtypes`: Lista o nome das colunas e o tipo de dados que contém em cada uma.

In [ ]:
df.dtypes

Índices de qualidade para SRS     object
Unnamed: 1                        object
Unnamed: 2                        object
Unnamed: 3                       float64
Unnamed: 4                        object
Unnamed: 5                        object
dtype: object

# Filtrar os dados

Vamos ver dois tipos diferentes de filtro:


*   **Filtro de coluna:** Retorna uma ou mais colunas de dados especificadas, semelhante a passar nome de colunas no `SELECT` em uma consulta SQL.
  
*   **Filtro de linha:** Retorna um recorte dos seus dados que atenda aos critérios que foram especificados, semelhante a uma consulta SQL usando `WHERE`. Por exemplo: Mostre todos os dados no DataFrame onde os valores da coluna `TEAM` sejam igual a `ARI`.

**Filtro de coluna**<p>
Para acessar os valores em uma única coluna de dados, você pode usar um ponto e o nome da coluna, desde que o nome da coluna não tenha espaços ou caracteres especiais.

In [ ]:
df.Unnamed: 1

Outro jeito é usando os colchetes com o nome da coluna entre aspas. Este modo é bastante útil quando o nome das colunas possuem espaços, por exemplo.

In [ ]:
df['Índices de qualidade para SRS']

0                   Paciente: Dayane
1                  Protuário: 586172
2                   Medico(a): Sarah
3                     Fisico: Samuel
4                               Alvo
5       Vrx (vol da dose de presc) =
6                Vptv (vol do PTV) =
7                          RTOG CI =
8                                NaN
9      V50%rx (vol da isod de 50%) =
10    V100%rx (vol da isod de 100%)=
11                      Paddick GI =
12                               NaN
13              Dmax (dose máxima) =
14        Drx (dose de prescrição) =
15                         RTOG HI =
16                               NaN
17                   Vol isod de 50%
18                           Vol PTV
19     C50 (cobert da dose interm) =
20                               NaN
21                          Dose max
22                          Dose mín
23                             HI' =
24                               NaN
25                             OAR`s
26                           Cerebro
Name: Índices de qualidade para SRS, dtype: object

Quando você acessa uma única coluna no seu DataFrame, você está pegando uma parte dele, que é chamada de `Series`.

Um dos métodos que podem ser chamados para série (Series) é o `unique()`, que mostra apenas valores únicos da coluna. Vamos fazer isso com a coluna `Índices de qualidade para SRS`:

In [ ]:
df['Índices de qualidade para SRS'].unique()

array(['Paciente: Dayane', 'Protuário: 586172', 'Medico(a): Sarah',
       'Fisico: Samuel', 'Alvo', 'Vrx (vol da dose de presc) =',
       'Vptv (vol do PTV) =', 'RTOG CI =', nan,
       'V50%rx (vol da isod de 50%) =', 'V100%rx (vol da isod de 100%)=',
       'Paddick GI =', 'Dmax (dose máxima) =',
       'Drx (dose de prescrição) =', 'RTOG HI =', 'Vol isod de 50%',
       'Vol PTV', 'C50 (cobert da dose interm) =', 'Dose max', 'Dose mín',
       "HI' =", 'OAR`s', 'Cerebro'], dtype=object)

Você pode contar o total de linhas para cada valor usando o método `values_counts()`:

In [ ]:
df['Índices de qualidade para SRS'].value_counts()

Paciente: Dayane                  1
Protuário: 586172                 1
OAR`s                             1
HI' =                             1
Dose mín                          1
Dose max                          1
C50 (cobert da dose interm) =     1
Vol PTV                           1
Vol isod de 50%                   1
RTOG HI =                         1
Drx (dose de prescrição) =        1
Dmax (dose máxima) =              1
Paddick GI =                      1
V100%rx (vol da isod de 100%)=    1
V50%rx (vol da isod de 50%) =     1
RTOG CI =                         1
Vptv (vol do PTV) =               1
Vrx (vol da dose de presc) =      1
Alvo                              1
Fisico: Samuel                    1
Medico(a): Sarah                  1
Cerebro                           1
Name: Índices de qualidade para SRS, dtype: int64

Para selecionar várias colunas do DataFrame, passamos uma lista com os nomes das colunas entre colchetes, ao invés de apenas uma. Uma maneira de ficar legível é executando esse procedimento em duas etapas.

> Bloco com recuo

In [ ]:
# Salva em uma variável as colunas que desejamos filtrar
colunas_filtradas = ['Índices de qualidade para SRS','Unnamed: 1']

# Passa a variável entre colchetes, junto ao nome do DataFrame
df[colunas_filtradas]

     Índices de qualidade para SRS           Unnamed: 1
0                 Paciente: Dayane                  NaN
1                Protuário: 586172                  NaN
2                 Medico(a): Sarah                  NaN
3                   Fisico: Samuel                  NaN
4                             Alvo                  PTV
5     Vrx (vol da dose de presc) =                11.51
6              Vptv (vol do PTV) =                10.55
7                        RTOG CI =                 1.09
8                              NaN                  NaN
9    V50%rx (vol da isod de 50%) =                39.38
10  V100%rx (vol da isod de 100%)=                11.51
11                    Paddick GI =                 3.42
12                             NaN                  NaN
13            Dmax (dose máxima) =             3,290.00
14      Drx (dose de prescrição) =             3,000.00
15                       RTOG HI =                 1.10
16                             NaN                  NaN
17                 Vol isod de 50%                39.38
18                         Vol PTV                10.55
19   C50 (cobert da dose interm) =                 3.73
20                             NaN                  NaN
21                        Dose max             3,290.00
22                        Dose mín             2,846.50
23                           HI' =                 1.16
24                             NaN                  NaN
25                           OAR`s          Valor atual
26                         Cerebro                 19cc

**Filtrando linhas**

O colchetes também é usado para filtrar linhas. Neste caso, ao invés do nome da coluna (ou uma lista de nomes), colocamos dentro do colchetes uma condição.

Vamos filtrar nossos dados para ver qual jogador tem salário maior que 1000000, ou seja, o filtro deve retornar as linhas onde o valor da coluna `SALARY` seja maior que $1.000.000.

In [ ]:
#df[df.SALARY > 1000000]

Esse filtro em SQL seria:

```sql
SELECT *
FROM mlb
WHERE SALARY > 1000000
```

É possível usar os operadores de comparação do Python:


*   `>`  maior que
*   `>=` maior ou igual a
*   `<`  menor que
*   `<=` menor ou igual a
*   `==` igual a
*   `!=` diferente de

**Filtro com muitas condições**

O que fazer quando se quer usar um filtro com mais de uma condição? Podemos salvar os resultados de cada filtro em uma variável e depois filtrar novamente a partir do DataFrame original.

Por exemplo, se você quiser saber quais jogadores do Colorado Rockies tem salários acima de $1 milhão, você pode fazer assim:

In [ ]:
#Filtrando primeiro só quem joga no Colorado Rockies
rockies = df[df.TEAM == 'COL']

#Filtrando os salários maiores que $1 milhão, utilizando o filtro anterior para sinalizar em qual time o filtro deve acontecer 
rockies_maior_1m = rockies[rockies.SALARY > 1000000]

rockies_maior_1m

# Calculando e preenchendo

In [ ]:
# Criando uma nova dataframe para preservar a dataframe original (embora possa escrever diretamente na original)
df1 =df

In [ ]:
# Cálculo de RTOG CI
df1['Unnamed: 1'][7]=df['Unnamed: 1'][5]/df['Unnamed: 1'][6]
if 1<df['Unnamed: 1'][7]<2:
  df1['Unnamed: 3'][7] = "Aprovado"
else:
  df1['Unnamed: 3'][7] = "Reprovado"

# Repetir o mesmo código com os outros indices, alterando somente os endereços das células

# printando df para ver
df1

,Índices de qualidade para SRS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Paciente: Dayane,NaN,NaN,NaN,NaN,NaN
1,Protuário: 586172,NaN,NaN,NaN,NaN,NaN
2,Medico(a): Sarah,NaN,NaN,NaN,NaN,NaN
3,Fisico: Samuel,NaN,NaN,NaN,NaN,NaN
4,Alvo,PTV,Tolerancia,NaN,Precrição,NaN
5,Vrx (vol da dose de presc) =,11.51,NaN,NaN,PTV,5 x 6Gy
6,Vptv (vol do PTV) =,10.55,NaN,NaN,NaN,NaN
7,RTOG CI =,1.09,"(1 - 2; ~1,4 mult alvos)",Aprovado,NaN,NaN
8,NaN,NaN,NaN,NaN,SRS,NaN
9,V50%rx (vol da isod de 50%) =,39.38,NaN,NaN,Critério,2% / 2mm - 95%
10,V100%rx (vol da isod de 100%)=,11.51,NaN,NaN,Arco,% de aprovação
11,Paddick GI =,3.42,(3 - 5),NaN,1.00,NaN
12,NaN,NaN,NaN,NaN,2.00,NaN
13,Dmax (dose máxima) =,"3,290.00",NaN,NaN,3.00,NaN
14,Drx (dose de prescrição) =,"3,000.00",NaN,NaN,NaN,NaN
15,RTOG HI =,1.10,"1 - 2 ; 1,44",NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,Vol isod de 50%,39.38,NaN,NaN,NaN,NaN
18,Vol PTV,10.55,NaN,NaN,NaN,NaN
19,C50 (cobert da dose interm) =,3.73,"(3 - 7,5)",NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN
21,Dose max,"3,290.00",NaN,NaN,NaN,NaN
22,Dose mín,"2,846.50",NaN,NaN,NaN,NaN
23,HI' =,1.16,"(<=2; 1,30 - 1,10)",NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,OAR`s,Valor atual,Limite,NaN,NaN,NaN
26,Cerebro,19cc,V24 < 20cc,NaN,NaN,NaN

# Exportar como CSV ou excel

Para exportar o DataFrame como um arquivo CSV, use o método `to_csv`, indicando o caminho onde deseja que seu arquivo seja salvo. Se você não quiser incluir o índice do DataFrame, especifique usando `index=False`.

In [ ]:
df.to_csv('meu_arquivo.csv', index=True)